body {
    margin-left: 10%;
    margin-right: 10%;
    font-family: sans-serif;
    background-color: #c3e06d;
    font-size: 2vmin;
}

h1 {
    color: #DA2580;
    text-shadow: 
    -1px -1px 0 #ffffff,  /* góra-lewo */
    1px -1px 0 #ffffff,   /* góra-prawo */
    -1px 1px 0 #ffffff,   /* dół-lewo */
    1px 1px 0 #ffffff;    /* dół-prawo */
}

.gorny-pasek {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vmin;
}

.przycisk {
    display: inline-block;
    background-color: #DA2580;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 1vmin 2vmin;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-shadow: 
        -1px -1px 0 #000,     /* góra-lewo */
        1px -1px 0 #000,      /* góra-prawo */
        -1px 1px 0 #000,      /* dół-lewo */
        1px 1px 0 #000;       /* dół-prawo */
}

.przycisk:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.przycisk:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}   

#przycisk-anuluj {
    background-color: #ff0000;
    position: fixed; 
    top: 48%; 
    left: 0; 
    margin: 1vmin;
    z-index: 1000;
    padding: 1vmin;
}

#przycisk-akceptuj {
    background-color: #22ff00;
    position: fixed; 
    top: 48%; 
    right: 0; 
    z-index: 1000;
    padding: 1vmin;
}

#przyciski-wymiana {
    position: fixed; 
    bottom: 20%;
    right: 5%;
}

#przycisk-wymiana {
    background-color: #fffb00;
}

#przycisk-akceptuj-wymiana {
    background-color: #fffb00;
}

.panel-kart {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    left: 0;
    right: 0;
    padding: 1vmin;
    height: 14vmin;
}

#panel-kart-bot {
    top: 10%;
    background-color: rgba(44, 11, 11, 0.8);
}

#panel-kart-gracz {
    bottom: 0%;
    background-color: rgba(181, 81, 182, 0.8);
}

.panel-ciala {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    left: 0;
    right: 0;
    padding: 1vmin;
    height: 14vmin;
}

#panel-ciala-bot {
    top: 30%;
    background-color: rgba(44, 11, 11, 0.8);
}

#panel-ciala-gracz {
    bottom: 30%;
    background-color: rgba(181, 81, 182, 0.8);
}

.karta-reka {
    width: 12vmin;
    height: 12vmin;
    margin: 0 1vmin;
    padding: 1vmin;
    border: 2px solid #000000;
    border-radius: 8px;
    background: #ddd;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 
        -1px -1px 0 #000,     /* góra-lewo */
        1px -1px 0 #000,      /* góra-prawo */
        -1px 1px 0 #000,      /* dół-lewo */
        1px 1px 0 #000;       /* dół-prawo */
}

.karta-reka:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.karta-reka:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}  

.karta-cialo {
    width: 12vmin;
    height: 12vmin;
    margin: 0 1vmin;
    padding: 1vmin;
    border: 2px solid #000000;  
    border-radius: 8px;
    background: #ddd;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-shadow: 
        -1px -1px 0 #000,     /* góra-lewo */
        1px -1px 0 #000,      /* góra-prawo */
        -1px 1px 0 #000,      /* dół-lewo */
        1px 1px 0 #000;       /* dół-prawo */  
}

.karta-cialo:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.karta-cialo:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}  

.karta-placeholder {
    width: 12vmin;
    height: 12vmin;
    margin: 0 1vmin;
    padding: 1vmin;
    border: 2px dashed #999;
    border-radius: 8px;
    background: #ddd;
    color: #555;
    text-align: center;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.karta-placeholder:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.karta-placeholder:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}  

.highlight {
    border: 1vmin solid #DA2580;
}

.ukryta {
    display: none;
  }

.karta-reka.exchange-mode {
    outline: 2px solid orange;
    cursor: pointer;
}

.karta-reka.exchange-selected {
    border: 3px solid red;
}