{% extends 'base.html' %}

{% block body %}
<div class="gorny-pasek">
    <h1>gra singleplayer</h1>
    <p class="powrot"><a href="{{ url_for('index') }}" class="button">powrót do strony głównej</a></p>

</div>

<div class="panel-kart-bot">
    {% for card in player2.hand %}
    <form method="POST" action="/playcard" class="card-form">
        <button class="card"
                type="submit"
                name="card_name"
                value="{{ card_name }}"
                style="background: {% if card.color == 'joker' %}linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet){% else %}{{ card.color }}{% endif %};">
            <h3>{{ card.name }}</h3>
        </button>
    </form>
    {% endfor %}
</div>

<div class="panel-ciala-bot">
    {% for card in player2.organsOnTable %}
    <div class="card"
        style="background: {% if card.color == 'joker' %}linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet){% else %}{{ card.color }}{% endif %};">
    <h3>{{ card.name }}</h3>
    <p>status: {{ card.status }}</p>
    </div>
    {% endfor %}
</div>

<div class="panel-ciala-gracz">
    {% for card in player1.organsOnTable %}
    <div class="card"
        style="background: {% if card.color == 'joker' %}linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet){% else %}{{ card.color }}{% endif %};">
    <h3>{{ card.name }}</h3>
    <p>status: {{ card.status }}</p>
    </div>
    {% endfor %}
</div>

<div class="panel-kart-gracz">
    {% for card in player1.hand %}
    <form method="POST" action="/zagrajKarte" class="card-form">
        <button class="card"
                type="submit"
                name="card_name"
                value="{{ card_name }}"
                style="background: {% if card.color == 'joker' %}linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet){% else %}{{ card.color }}{% endif %};">
            <h3>{{ card.name }}</h3>
        </button>
    </form>
    {% endfor %}
</div>

{% endblock %}