{% extends 'base.html' %}

{% block body %}

<div class="gorny-pasek">
    <h1>gra z botem</h1>
    <p>
        <a href="{{ url_for('index') }}" class="przycisk">powrót do strony głównej</a>
    </p>
</div>

<div class="panel-kart ukryta" id="panel-kart-bot" data-playerid="{{ bot.playerId }}">
    {% for card in bot.hand %}
    <div class="karta-reka"
        id="{{ card.cardId }}"
         style="background: {% if card.color == 'joker' %}linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet){% else %}{{ card.color }}{% endif %};">
         <h3>{{ card.name }}</h3>
        <!-- <p>id: {{ card.cardId }}</p> -->
    </div>
    {% endfor %}
</div>

<div class="panel-ciala" id="panel-ciala-bot" data-playerid="{{ bot.playerId}}">
    {% set sloty = 5 %}
    {% set liczbaKartWCiele = bot.organsOnTable|length %}

    {% for card in bot.organsOnTable %}
    <div class="karta-cialo"
        id="{{ card.cardId }}"
         style="background: {% if card.color == 'joker' %}linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet){% else %}{{ card.color }}{% endif %};"
         onclick="wyborTargetu(this)">
         <h3>{{ card.name }}</h3>
         <p>status: {{ card.status }}</p>
         <!-- <p>id: {{ card.cardId }}</p> -->
    </div>
    {% endfor %}

    {% for i in range(sloty - liczbaKartWCiele) %}
    <div class="karta-placeholder" id="placeholder"
         onclick="wyborTargetu(this)">
         <h3>puste</h3>
    </div>
    {% endfor %}
</div>

<div class="przycisk-container">
    <button onclick="anulujWybor()" class="przycisk" id="przycisk-anuluj">Anuluj wybór</button>
</div>

<div class="przycisk-container" >
    <form method="POST" action="{{ url_for('zagrajKarte') }}" id="zagrajKarteForm">
        <input type="hidden" id="source_player_id_move" name="source_player_id_move" value="">
        <input type="hidden" id="source_card_id" name="source_card_id" value="">
        <input type="hidden" id="target_player_id" name="target_player_id" value="">
        <input type="hidden" id="target_card_id" name="target_card_id" value="">
        <button type="submit" class="przycisk" id="przycisk-akceptuj">Akceptuj ruch</button>
    </form>
</div>

<div class="przycisk-container" id="przyciski-wymiana">
    <form method="POST" action="{{ url_for('wymienKarty') }}" id="exchangeForm">
      
        <input type="hidden" name="source_player_id_exchange" id="source_player_id_exchange" value="">
      <input type="hidden" name="first_card_id" id="first_card_id" value="">
      <input type="hidden" name="second_card_id" id="second_card_id" value="">
      <input type="hidden" name="third_card_id" id="third_card_id" value="">
      <button type="button" class="przycisk" id="przycisk-wymiana" onclick="enableExchangeMode()">wymień karty</button>
        <button type="submit" class="przycisk" id="przycisk-akceptuj-wymiana">akceptuj wymianę</button>
    </form>
  </div>

<div class="panel-ciala" id="panel-ciala-gracz" data-playerid="{{ player1.playerId}}">
    {% set sloty = 5 %}
    {% set liczbaKartWCiele = player1.organsOnTable|length %}

    {% for card in player1.organsOnTable %}
    <div class="karta-cialo"
        id="{{ card.cardId }}"
         style="background: {% if card.color == 'joker' %}linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet){% else %}{{ card.color }}{% endif %};"
         onclick="wyborTargetu(this)">
         <h3>{{ card.name }}</h3>
         <p>status: {{ card.status }}</p>
         <!-- <p>id: {{ card.cardId }}</p> -->
    </div>
    {% endfor %}

    {% for i in range(sloty - liczbaKartWCiele) %}
    <div class="karta-placeholder" id="placeholder"
         onclick="wyborTargetu(this)">
         <h3>puste</h3>
    </div>
    {% endfor %}
</div>

<div class="panel-kart" id="panel-kart-gracz" data-playerid="{{ player1.playerId }}">
        {% for card in player1.hand %}
    <div class="karta-reka"
        id="{{ card.cardId }}"
         style="background: {% if card.color == 'joker' %}linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet){% else %}{{ card.color }}{% endif %};"
         onclick="wybor(this)">
        <h3>{{ card.name }}</h3>
        <!-- <p>{{ card.cardId }}</p> -->
    </div>
    {% endfor %}
</div>

<script>
    function wybor(elem) {
        var container = elem.closest('.panel-kart');
        var playerId = container ? container.getAttribute('data-playerid') : "";
        console.log("Wybrano kartę źródłową o id: " + elem.id + " gracza o id: " + playerId);

        if (elem.classList.contains('highlight')) {
            elem.classList.remove('highlight');
            var sourceCardInput = document.getElementById('source_card_id');
            if (sourceCardInput) {
                sourceCardInput.value = "";
            }
            var sourcePlayerInput = document.getElementById('source_player_id_move');
            if (sourcePlayerInput) {
                sourcePlayerInput.value = "";
            }
            return;
        }

        var cards = document.querySelectorAll('.panel-kart .karta-reka');
        cards.forEach(function(card) {
            card.classList.remove('highlight');
        });

        elem.classList.add('highlight');

        var sourceCardInput = document.getElementById('source_card_id');
        if (sourceCardInput) {
            sourceCardInput.value = elem.id;
        }
        var sourcePlayerInput = document.getElementById('source_player_id_move');
        if (sourcePlayerInput) {
            sourcePlayerInput.value = playerId;
        }
    }

    function wyborTargetu(elem) {
        var container = elem.closest('.panel-ciala');
        var playerId = container ? container.getAttribute('data-playerid') : "";

        console.log("Wybrano kartę o id: " + elem.id + " gracza o id: " + playerId);

        if (elem.classList.contains('highlight')) {
            elem.classList.remove('highlight');

            var targetCardInput = document.getElementById('target_card_id');
            if (targetCardInput) {
                targetCardInput.value = "";
            }
            var targetPlayerInput = document.getElementById('target_player_id');
            if (targetPlayerInput) {
                targetPlayerInput.value = "";
            }
            return;
        }

        var targets = document.querySelectorAll('.panel-ciala .karta-cialo, .panel-ciala .karta-placeholder');
        targets.forEach(function(target) {
            target.classList.remove('highlight');
        });

        elem.classList.add('highlight');

        var targetCardInput = document.getElementById('target_card_id');
        if (targetCardInput) {
            if (elem.classList.contains('karta-placeholder')) {
                targetCardInput.value = "placeholder";
            } else {
                targetCardInput.value = elem.id;
            }
        }

        var targetPlayerInput = document.getElementById('target_player_id');
        if (targetPlayerInput) {
            targetPlayerInput.value = playerId;
        }
    }

    function anulujWybor() {
        var highlightedElements = document.querySelectorAll('.highlight');
        highlightedElements.forEach(function(element) {
            element.classList.remove('highlight');
        });
    
        var sourcePlayerInput = document.getElementById('source_player_id_move');
        var sourceCardInput = document.getElementById('source_card_id');
        var targetPlayerInput = document.getElementById('target_player_id');
        var targetCardInput = document.getElementById('target_card_id');
        
        if (sourcePlayerInput) { sourcePlayerInput.value = ""; }
        if (sourceCardInput) { sourceCardInput.value = ""; }
        if (targetPlayerInput) { targetPlayerInput.value = ""; }
        if (targetCardInput) { targetCardInput.value = ""; }
        
        var exchangeCardsField = document.getElementById('exchangeCardsField');
        if (exchangeCardsField) { exchangeCardsField.value = ""; }
        
        disableExchangeMode();
        
        console.log("Anulowano wybór, formularz wymiany został wyczyszczony, a tryb wymiany wyłączony.");
    }

    var komunikat = "{{ komunikat }}";
    if(komunikat != "") {
        alert(komunikat);
    }

    document.getElementById('zagrajKarteForm').addEventListener('submit', function(event) {
        event.preventDefault();
        
        var sourcePlayer = document.getElementById('source_player_id_exchange').value.trim();
        var source = document.getElementById('source_card_id').value.trim();
        var targetPlayer = document.getElementById('target_player_id').value.trim();
        var target = document.getElementById('target_card_id').value.trim();

        if (source === "" || target === "") {
            alert("Błąd: Nie wybrano karty źródłowej lub targetu!");
        } else {
            // alert("szczegóły ruchu: \ngracz źródłowy: " + sourcePlayer + "\nKarta źródłowa: " + source + "\nkarta targetowana: " + target + "\ngracz targetowany: " + targetPlayer);
            event.target.submit();
        }
    });

    
    let exchangeMode = false;
    let selectedExchangeCards = [];

    document.addEventListener("DOMContentLoaded", function() {
        const sourcePlayerId = "{{ player1.playerId }}";
        
        const sourcePlayerInputMove = document.getElementById("source_player_id_move");
        if (sourcePlayerInputMove) {
            sourcePlayerInputMove.value = sourcePlayerId;
        }
    
        const sourcePlayerInputExchange = document.getElementById("source_player_id_exchange");
        if (sourcePlayerInputExchange) {
            sourcePlayerInputExchange.value = sourcePlayerId;
        }
    });
    
    function enableExchangeMode() {
        const normalHighlightedCards = document.querySelectorAll(".panel-kart .highlight");
        normalHighlightedCards.forEach(card => {
            card.classList.remove("highlight");
        });
    
        var bodyPanel = document.getElementById("panel-ciala-gracz");
        if (bodyPanel) {
            const highlightedBodyCards = bodyPanel.querySelectorAll(".highlight");
            highlightedBodyCards.forEach(card => {
                card.classList.remove("highlight");
            });
        }
    
        exchangeMode = true;
        selectedExchangeCards = [];
    
        var activePanel = document.querySelector("#panel-kart-gracz");
        if (!activePanel) {
            console.error("Nie znaleziono aktywnego panelu kart!");
            return;
        }
        
        const cards = activePanel.querySelectorAll(".karta-reka");
        cards.forEach(card => {
            card.classList.add("exchange-mode");
            card.removeAttribute("onclick");
            card.addEventListener("click", function exchangeListener() {
                cardClicked(card);
            });
        });
        console.log("Tryb wymiany aktywowany. Wybierz do 3 kart do wymiany.");
    }

    function disableExchangeMode() {
        exchangeMode = false;
        selectedExchangeCards = [];
        var activePanel = document.getElementById("panel-kart-gracz");
            if (!activePanel) {
            console.error("Nie znaleziono aktywnego panelu kart!");
            return;
        }
        const cards = activePanel.querySelectorAll(".karta-reka");
        cards.forEach(card => {
            card.classList.remove("exchange-mode");
            card.classList.remove("highlight");
            card.removeEventListener("click", cardClicked);
            card.setAttribute("onclick", "wybor(this)");
        });
        console.log("Tryb wymiany wyłączony.");
    }

function cardClicked(cardElement) {
    if (!exchangeMode) return;

    if (cardElement.classList.contains("highlight")) {
        cardElement.classList.remove("highlight");
        selectedExchangeCards = selectedExchangeCards.filter(id => id !== cardElement.id);
    } else {
        if (selectedExchangeCards.length < 3) {
            cardElement.classList.add("highlight");
            selectedExchangeCards.push(cardElement.id);
        } else {
            alert("Możesz wybrać maksymalnie 3 karty do wymiany.");
        }
    }
    console.log("Wybrane karty do wymiany:", selectedExchangeCards);
}

document.getElementById("przycisk-akceptuj-wymiana").addEventListener("click", function() {
    if (!exchangeMode) {
        alert("Najpierw włącz tryb wymiany!");
        return;
    }
    if (selectedExchangeCards.length === 0) {
        alert("Nie wybrano żadnej karty do wymiany!");
        return;
    }
    
    document.getElementById("first_card_id").value = selectedExchangeCards[0] || "";
    document.getElementById("second_card_id").value = selectedExchangeCards[1] || "";
    document.getElementById("third_card_id").value = selectedExchangeCards[2] || "";
    
    document.getElementById("exchangeForm").submit();
    disableExchangeMode();
});

document.getElementById('exchangeForm').addEventListener('submit', function(event) {
    event.preventDefault();
    
    var sourcePlayer = document.getElementById('source_player_id_exchange').value.trim();
    var pierwsza = document.getElementById('first_card_id').value.trim();
    var druga = document.getElementById('second_card_id').value.trim();
    var trzecia = document.getElementById('third_card_id').value.trim();

    // alert("szczegóły wymiany: \ngracz źródłowy: " + sourcePlayer + "\nKarta pierwsza: " + pierwsza + "\nkarta druga: " + druga + "\nkarta trzecia: " + trzecia);
    event.target.submit();
    
});

</script>

{% endblock %}