{% extends 'base.html' %}

{% block body %}
<div class="gorny-pasek">
    <h1>instrukcja</h1>
    <p class="powrot"><a href="{{ url_for('index') }}" class="przycisk">powrót do strony głównej</a></p>

</div>
<iframe src="{{ pdf_url }}" 
        width="100%" 
        height="800px" 
        style="border: none;">
    Twoja przeglądarka nie obsługuje podglądu PDF. Możesz pobrać plik 
    <a href="{{ pdf_url }}">tutaj</a>.
</iframe>
<p class="powrot"><a href="{{ url_for('index') }}" class="przycisk">powrót do strony głównej</a></p>

{% endblock %}